/*
0 - 600px:      bp400
600 - 900px:    bp900
900 - 1200px:   bp1200
[1200 - 1800] is where our normal styles apply
1800px + :      bp1800

$breakpoint arguement choices:
- bp400
- bp600
- bp900
- bp1000
- bp1200
- bp1800

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
  --shadow-dark: 0 0 20px 10px #f3f3f3;
  --shadow-light: 0 0 30px 20px #e6ebee; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 45%; } }

body {
  box-sizing: border-box; }

::selection {
  background-color: #55c57a;
  color: #fff; }

a {
  text-decoration: none; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-10rem); }
  80% {
    opacity: 0.8;
    transform: translate(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(10rem); }
  80% {
    opacity: 0.8;
    transform: translate(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes card-backside-gradient-1 {
  0% {
    background-position: 0% 4%; }
  50% {
    background-position: 100% 97%; }
  100% {
    background-position: 0% 4%; } }

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5; }

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1; }

h1 {
  font-size: 7rem; }

h2 {
  font-size: 4rem; }

h3 {
  font-size: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-btm-small {
  margin-bottom: 1.4rem; }

.u-margin-btm-medium {
  margin-bottom: 4rem; }

.u-margin-btm-large {
  margin-bottom: 6rem; }

.u-margin-top-large {
  margin-top: 6rem; }

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold; }
  .link-arrow::after {
    content: "-->";
    margin-left: 5px;
    transition: all 0.3s ease-in-out; }
  .link-arrow:hover::after {
    margin-left: 10px; }

.badge {
  border-radius: 20px;
  padding: 0.5rem 2rem;
  font-weight: 600;
  white-space: nowrap;
  color: #fff;
  font-size: 1.5rem; }
  .badge--small {
    font-size: 1.2rem; }
  .badge--primary {
    background-color: var(--color-primary); }
  .badge--secondary {
    background-color: var(--color-secondary); }

.list {
  list-style: none;
  color: var(--color-headings); }
  .list--inline .list__item {
    display: inline;
    margin-right: 2rem; }
  .list--bold {
    font-weight: bold; }
  .list--tick {
    list-style-image: url(../img/icons/tick.svg);
    margin-left: 3rem; }
    .list--tick .list__item {
      padding-left: 0rem; }
      @media only screen and (max-width: 56.25em) {
        .list--tick .list__item {
          padding-left: 0.5rem;
          margin-bottom: 1rem; } }

.icon {
  width: 40px;
  height: 40px; }
  .icon-container {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f9fa; }
  .icon--small {
    width: 30px;
    height: 30px; }
  .icon--primary {
    fill: var(--color-primary); }
  .icon--secondary {
    fill: var(--color-secondary); }
  .icon--accent {
    background: var(--color-accent); }
  .icon--white {
    fill: #fff; }

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 2rem 4vw;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.5s;
  background-color: #777;
  color: #fff;
  text-align: center;
  margin: 1rem 0; }
  @media only screen and (max-width: 37.5em) {
    .btn {
      font-size: 1.4rem; } }
  .btn .icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    vertical-align: middle; }
  .btn--block {
    display: block;
    width: 100%; }
  .btn--primary {
    background-color: var(--color-primary); }
    .btn--primary:hover {
      background: #538fdf; }
  .btn--secondary {
    background-color: var(--color-secondary); }
    .btn--secondary:hover {
      background: #ade7f1; }
  .btn--accent {
    background-color: var(--color-accent); }
    .btn--accent:hover {
      background: #fc6d4a; }
  .btn--outline {
    background-color: #fff;
    color: var(--color-headings);
    border: 2px solid var(--color-headings); }
    .btn--outline:hover {
      background-color: var(--color-headings);
      color: #fff; }

.input {
  flex: 1;
  border: none;
  color: var(--color-headings);
  font-size: 1.5rem;
  outline: none;
  padding: 1rem 1.5rem; }
  .input--group {
    border-radius: var(--border-radius);
    display: flex;
    overflow: hidden; }
    .input--group .btn {
      margin: 4px; }
    .input--group .input {
      border: 0;
      flex-grow: 1;
      padding: 1.5rem 2rem; }
  .input::placeholder {
    color: #cdcbd7; }

.card {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: var(--shadow-light);
  transition: all 0.3s; }
  .card:hover {
    transform: scale(1.05); }
  .card__header, .card__body {
    font-size: 2rem;
    padding: 2rem 3rem; }
    @media only screen and (max-width: 37.5em) {
      .card__header, .card__body {
        font-size: 1.8rem;
        padding: 1.5rem 2.5rem; } }
  .card--secondary .card__header {
    background-color: var(--color-secondary);
    color: #fff; }
  .card--secondary .badge--secondary {
    background: #02cff1; }
  .card--primary .card__header {
    box-shadow: var(--shadow-light);
    background-color: var(--color-primary);
    color: #fff; }
  .card--primary .badge--primary {
    background-color: #126de4; }
  .card--accent .card__header {
    box-shadow: var(--shadow-light);
    background-color: var(--color-accent);
    color: #fff; }
  .card--accent .badge--accent {
    background: #ca380b; }

.plans {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  padding: 1rem 2rem; }
  @media only screen and (max-width: 46.875em) {
    .plans {
      grid-template-columns: minmax(15rem, 50vw);
      justify-content: center;
      gap: 8rem; } }
  .plans--popular {
    grid-column: 2/3;
    transform: scale(1.1); }
    @media only screen and (max-width: 46.875em) {
      .plans--popular {
        grid-column: 1/-1; } }
  .plans--starting {
    grid-column: 1/2; }
    @media only screen and (max-width: 46.875em) {
      .plans--starting {
        grid-column: 1/-1; } }
  .plans--pro {
    grid-column: 3/4; }
    @media only screen and (max-width: 46.875em) {
      .plans--pro {
        grid-column: 1/-1; } }

.plan__name {
  color: #fff;
  font-weight: 500;
  font-size: 1.4rem; }
  @media only screen and (max-width: 37.5em) {
    .plan__name {
      font-size: 2.4rem; } }

.plan__price {
  font-size: 5rem; }
  @media only screen and (max-width: 37.5em) {
    .plan__price {
      font-size: 6rem; } }

.plan__billing-cycle {
  font-size: 1.6rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem; }
  @media only screen and (max-width: 37.5em) {
    .plan__billing-cycle {
      font-size: 2.4rem; } }

.plan__description {
  font-size: 1.7rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: block; }
  @media only screen and (max-width: 37.5em) {
    .plan__description {
      font-size: 2rem; } }

.plan .list__item {
  margin-bottom: 2rem; }

.plans--popular .card__header {
  position: relative; }

.plans--popular .card__header::before {
  content: url(../img/popular.svg);
  width: 5rem;
  display: inline-block;
  position: absolute;
  top: -7px;
  right: 5%; }
  @media only screen and (max-width: 37.5em) {
    .plans--popular .card__header::before {
      width: 30px; } }

.media {
  display: flex; }
  .media__image {
    margin-top: 0.8rem; }
  .media__body {
    margin: 0 2rem; }

.quote {
  font-size: 2rem;
  line-height: 1.3;
  font-style: italic;
  color: var(--color-body-darker);
  display: flex;
  justify-content: center;
  flex-direction: column; }
  @media only screen and (max-width: 37.5em) {
    .quote {
      font-size: 3rem; } }
  .quote__line {
    position: relative;
    bottom: 11px; }
  .quote__text::before {
    content: open-quote; }
  .quote__text::after {
    content: close-quote; }
  .quote__author {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 300;
    color: var(--color-headings); }
    @media only screen and (max-width: 37.5em) {
      .quote__author {
        font-size: 3rem; } }
  .quote__company {
    font-size: 1.6rem;
    color: var(--color-headings);
    opacity: 0.4;
    font-style: normal; }
    @media only screen and (max-width: 37.5em) {
      .quote__company {
        font-size: 2rem; } }

.grid {
  display: grid; }
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr); }
    @media only screen and (max-width: 56.25em) {
      .grid--1x2 {
        grid-template-columns: 1fr; } }
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr); }
    @media only screen and (max-width: 62.5em) {
      .grid--1x3 {
        grid-template-columns: repeat(2, 1fr); } }
    @media only screen and (max-width: 46.875em) {
      .grid--1x3 {
        grid-template-columns: 1fr; } }

.testimonial {
  padding: 3rem; }
  .testimonial__image {
    position: relative;
    margin: 0 3rem; }
    .testimonial__image > img {
      width: 100%; }
    .testimonial__image > .icon-container {
      position: absolute;
      top: 3rem;
      right: -32px; }
  .testimonial .quote,
  .testimonial .quote-author {
    font-size: 2.4rem;
    margin-left: 6rem;
    margin-right: 0rem; }

.callout {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .callout__content {
      text-align: center; } }
  .callout .btn {
    margin-left: 4rem;
    justify-self: start;
    align-self: center;
    padding: 2rem 6rem; }
    @media only screen and (max-width: 56.25em) {
      .callout .btn {
        justify-self: center; } }

.collapsible__header {
  display: flex;
  justify-content: space-between; }

.collapsible__heading {
  font-size: 2rem; }

.collapsible__chevron {
  fill: #fff;
  transform: rotate(-90deg);
  transition: all 0.3s ease-in-out; }

.collapsible__content {
  opacity: 1;
  max-height: 100vh;
  overflow: hidden;
  transition: all 0.3s ease-in-out; }
  @media only screen and (max-width: 50em) {
    .collapsible__content {
      opacity: 0;
      max-height: 0; } }

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0); }

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1; }

.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem; }

.block__header {
  text-align: center; }

.block__heading {
  margin-top: 0; }
  @media only screen and (max-width: 56.25em) {
    .block__heading {
      margin-top: 10rem; } }

.block--dark {
  background: #000;
  color: #7b858b; }

.block--dark .block__heading {
  color: #fff; }

.block--skewed-right {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%); }

.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%); }

.container {
  max-width: 1140px;
  margin: 0 auto; }

.nav {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem; }
  .nav__brand > img {
    transform: translateY(7px); }
  .nav__toggler {
    opacity: 0;
    display: none;
    visibility: none; }
    @media only screen and (max-width: 50em) {
      .nav__toggler {
        opacity: 0.5;
        display: inline-block; }
        .nav__toggler:hover {
          opacity: 1; } }
  .nav__list {
    display: flex;
    font-size: 1.6rem;
    width: auto;
    opacity: 1; }
    @media only screen and (max-width: 50em) {
      .nav__list {
        width: 100%;
        display: block; } }
  @media only screen and (max-width: 50em) {
    .nav.collapsible--expanded .nav__list {
      flex-direction: column; } }
  .nav__item {
    padding: 0.5rem 1.6rem; }
    .nav__item > a {
      color: #d2d0db;
      transition: color 0.3s; }
      .nav__item > a:hover {
        color: #fff; }
    @media only screen and (max-width: 50em) {
      .nav__item {
        border-bottom: 1px solid #222; } }

.hero {
  padding-top: 0; }
  @media only screen and (max-width: 56.25em) {
    .hero {
      clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%); } }
  .hero__container {
    padding: 0 2rem;
    text-align: left; }
    @media only screen and (max-width: 56.25em) {
      .hero__container {
        grid-column: 1/-1; } }
  .hero__content {
    align-self: center; }
    @media only screen and (max-width: 56.25em) {
      .hero__content {
        grid-column: 1/-1; } }
  .hero__img {
    width: 100%; }
    @media only screen and (max-width: 56.25em) {
      .hero__img-top {
        margin-bottom: -8rem; } }
    @media only screen and (max-width: 37.5em) {
      .hero__img-top {
        margin-bottom: -3rem; } }
    @media only screen and (max-width: 56.25em) {
      .hero__img {
        grid-column: 1/-1; } }
  .hero__tagline {
    font-size: 2rem;
    padding-bottom: 2rem;
    color: #b9c3cf;
    letter-spacing: 1px; }

.block-domain {
  max-width: 670px; }
  .block-domain .input--group {
    box-shadow: var(--shadow-light);
    margin: 4rem auto; }
  .block-domain__prices {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    justify-items: center;
    justify-content: center;
    row-gap: 2rem;
    font-size: 1.4rem; }
