:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
  --shadow-dark: 0 0 20px 10px #f3f3f3;
  --shadow-light: 0 0 30px 20px #e6ebee;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //defines the rem! 1 rem = 10 px
  font-size: 62.5%;

  @include responsive(bp900) {
    font-size: 50%;
  }
  @include responsive(bp600) {
    font-size: 45%;
  }
}

body {
  box-sizing: border-box;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}

a {
  text-decoration: none;
}
