.u-center-text {
  text-align: center;
}

.u-margin-btm-small {
  margin-bottom: 1.4rem;
}
.u-margin-btm-medium {
  margin-bottom: 4rem;
}
.u-margin-btm-large {
  margin-bottom: 6rem;
}
.u-margin-top-large {
  margin-top: 6rem;
}
