.badge {
  border-radius: 20px;
  padding: 0.5rem 2rem;
  font-weight: 600;
  white-space: nowrap;
  color: #fff;
  font-size: 2rem;

  &--small {
    font-size: 1.6rem;
  }

  &--primary {
    background-color: var(--color-primary);
  }

  &--secondary {
    background-color: var(--color-secondary);
  }
}
