.collapsible {
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__heading {
    font-size: 2rem;
  }
  &__chevron {
    fill: #fff;
    transform: rotate(-90deg);
    transition: all 0.3s ease-in-out;
  }
  &__content {
    opacity: 1;
    max-height: 100vh;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    // FIXME
    // TODO
    @include responsive(bp800) {
      opacity: 0;
      max-height: 0;
    }
  }
  &--expanded &__chevron {
    transform: rotate(0);
  }
  &--expanded &__content {
    max-height: 100vh;
    opacity: 1;
  }
}
