.hero {
  padding-top: 0;
  @include responsive(bp900) {
    clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
  }
  &__container {
    padding: 0 2rem;
    @include responsive(bp900) {
      grid-column: 1/-1;
    }
  }
  &__content {
    text-align: left;
    margin-top: 10rem;
    @include responsive(bp900) {
      margin-top: 3rem;
      align-self: center;
      text-align: center;
      grid-column: 1/-1;
    }
  }
  &__img {
    width: 100%;
    &-top {
      @include responsive(bp900) {
        margin-bottom: -8rem;
      }
      @include responsive(bp600) {
        margin-bottom: -3rem;
      }
    }

    @include responsive(bp900) {
      grid-column: 1/-1;
    }
  }
  &__tagline {
    font-size: 2rem;
    padding-bottom: 2rem;
    color: #b9c3cf;
    letter-spacing: 1px;
  }
}
