.icon {
  &-container {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    background-color: #f3f9fa;
  }

  width: 40px;
  height: 40px;

  &--small {
    width: 30px;
    height: 30px;
  }

  &--primary {
    fill: var(--color-primary);
  }

  &--secondary {
    fill: var(--color-secondary);
  }

  &--accent {
    background: var(--color-accent);
  }
  &--white {
    fill: #fff;
  }
}
