.block {
  &-domain {
    max-width: 80rem;
    & .input--group {
      box-shadow: var(--shadow-light);
      margin: 4rem auto;
    }
    &__prices {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
      justify-items: center;
      justify-content: center;
      row-gap: 2rem;
      font-size: 2rem;
      color: var(--color-headings);
      font-weight: 600;
    }
  }
  //   &__header {
  //   }
}
